<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hydee.hcrm.mapper.MissionMapper">
	<!-- 获取任务名单总的记录数 -->
	<select id="getMissionCount" resultType="String" parameterType="int">
	select count from(
    select healther,count(1) as count from t_crm_activity_c inner join t_crm_memcard_reg
    on t_crm_activity_c.memcardno=t_crm_memcard_reg.memcardno
    where t_crm_activity_c.healther=#{userid} and nvl(t_crm_activity_c.task_status, 0) = 0
    group by healther
    )
	</select>
	<!-- 获取我的任务需要处理的客户名单 ，根据healther业务员查-->
	<select id="getMissionList" resultMap="list" parameterType="Page">
	SELECT * from  v_crm_wechat_activity_c where healther=#{userid}
	</select>
	<resultMap type="TaskList" id="list">
		<result property="cardholder" column="cardholder"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
		<result property="memcardno" column="memcardno"/>
		<result property="activeid" column="activeid"/>
		<result property="rowno" column="rowno"/>
	</resultMap>
	
	<!-- 慢病购药记录（复购记录），根据活动标号和行数查(根据卡号)-->
	<select id="getBuyBack" resultMap="wareid" parameterType="t_crm_activity_c">
	SELECT * from v_crm_wechat_activity_ware where activeid=#{ACTIVEID}
	</select>
	<resultMap type="BuyBack" id="wareid">
		<result property="warename" column="warename"/>
		<result property="wareid" column="wareid"/>
		<result property="warespec" column="warespec"/>
		<result property="factoryname" column="factoryname"/>
		<result property="lasttime" column="lasttime"/>
		<result property="usedtime" column="usedtime"/>
		<result property="remind" column="remind"/>
	</resultMap>
	
	<!-- 获取单个会员信息,根据会员卡号 -->
	<select id="getMember" resultMap="menber" parameterType="t_crm_activity_c">
	SELECT cardholder,to_char(birthday, 'yyyy-mm-dd') as birthday,memcardno,mobile,nvl(sex,'未知') as sex,floor(MONTHS_BETWEEN(sysdate, birthday) / 12) as age 
    FROM t_crm_memcard_reg  WHERE memcardno=#{MEMCARDNO}
	</select>
	<resultMap type="t_crm_memcard_reg" id="menber">
		<result property="CARDHOLDER" column="cardholder"/>
		<result property="BIRTHDAY" column="birthday"/>
		<result property="MEMCARDNO" column="memcardno"/>
		<result property="MOBILE" column="mobile"/>
		<result property="SEX" column="sex"/>
		<result property="AGE" column="age"/>
	</resultMap>
	
	<!-- 购药记录，根据会员卡号查区最近几条 --><!-- WHERE a.membercardno=#{MEMCARDNO} -->
	<select id="getShoppingRecord" resultMap="history" parameterType="t_crm_activity_c">
	SELECT * FROM v_crm_wechat_purchase_record where membercardno=#{MEMCARDNO}
	</select>
	<resultMap type="PurchaseHistory" id="history">
		<result property="warename" column="warename"/>
		<result property="warespec" column="warespec"/>
		<result property="factoryname" column="factoryname"/>
		<result property="wareunit" column="wareunit"/>
		<result property="accdate" column="accdate"/>
	</resultMap>
	
	<!-- 反馈向数据库插入反馈信息 -->
	<update id="getFeedBack" parameterType="t_crm_activity_c">
   		 update t_crm_activity_c
   		<trim prefix="set" suffixOverrides=",">
        <if test="TASK_RESON!=null">TASK_RESON=#{TASK_RESON},</if>
        <if test="TASK_REMARK!=null">TASK_REMARK=#{TASK_REMARK},</if>
        <if test="FOLLOWUPWORK!=null">FOLLOWUPWORK=#{FOLLOWUPWORK},</if>
        <if test="TASK_STATUS!=null">TASK_STATUS=#{TASK_STATUS},</if>
        <if test="FEEDBACKTIME!=null">FEEDBACKTIME=to_date(#{FEEDBACKTIME},'yyyy-mm-dd hh24:mi:ss'),</if>
        <if test="REMINDAYS!=null">REMINDAYS=#{REMINDAYS},</if>
        </trim>
        where MEMCARDNO=#{MEMCARDNO} and ACTIVEID=#{ACTIVEID}
   </update>
   <!-- 获取本月时间 -->
   <select id="getDate" resultType="String">
   select to_char(sysdate,'yyyy-mm') from dual
   </select>
   <!-- 获取本月完成任务数 -->
   <select id="getDoneCount" resultType="String" parameterType="t_crm_activity_c">
    select count(*) from t_crm_activity_c inner join t_crm_memcard_reg
    on t_crm_activity_c.memcardno=t_crm_memcard_reg.memcardno
    where to_char(t_crm_activity_c.CREATETIME,'mm')=to_char(sysdate,'mm') and healther=#{HEALTHER}
    and t_crm_activity_c.task_status>0
   </select>
   
   <!-- 查询本月的任务数 -->
   <select id="getMonthCount" resultType="String" parameterType="t_crm_activity_c">
    select count(*) from t_crm_activity_c inner join t_crm_memcard_reg
    on t_crm_activity_c.memcardno=t_crm_memcard_reg.memcardno
    where to_char(t_crm_activity_c.CREATETIME,'mm')=to_char(sysdate,'mm') and healther=#{HEALTHER}
   </select>
   
   <!-- 获取上月年月 -->
   <select id="getUltimoDate" resultType="String">
   select to_char(sysdate-interval'1'month,'yyyy-mm') from dual
   </select>
   <!-- 获取上月已经完成任务数 -->
   <select id="getUltimoFinish" resultType="String" parameterType="t_crm_activity_c">
    select count(*) from t_crm_activity_c inner join t_crm_memcard_reg
    on t_crm_activity_c.memcardno=t_crm_memcard_reg.memcardno
    where to_char(t_crm_activity_c.CREATETIME,'mm')=to_char(sysdate-interval'1'month,'mm') 
    and healther=#{HEALTHER} and t_crm_activity_c.task_status>0
   </select>
   
   <!-- 获取上月任务数 -->
   <select id="getUltimo" resultType="String" parameterType="t_crm_activity_c">
    select count(*) from t_crm_activity_c inner join t_crm_memcard_reg
    on t_crm_activity_c.memcardno=t_crm_memcard_reg.memcardno
    where to_char(t_crm_activity_c.CREATETIME,'mm')=to_char(sysdate-interval'1'month,'mm') 
    and healther=#{HEALTHER}
   </select>
   
</mapper>